<div class="col-lg-3">
<div class="user_info">
  <div class="user_info_head"><h1>User info</h1></div>
  <div class="user_info_img">
    <%= attachment_image_tag current_user, :profile_image, size: "100x100", format: 'jpeg', fallback: "no_image.jpg" %>
  </div>
  <div class="user_info_name">
    <h3><%= current_user.name %></h3>
  </div>
  <div class="user_info_intro">
    <h3><%= current_user.introduction %></h3>
  </div>
    <% if current_user.id == current_user.id %>
      <div class="btn btn-default">
        <%= link_to edit_user_path(current_user) do %>
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        <% end %>
      </div>
    <% end %>
</div>

<div class="newbook">
  <div class="newbook_head"><h1>New book</h1></div>

<%= form_for(book, url: books_path) do |f| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= book.errors.count %>
        errors prohibited this obj from being saved:
      </h2>
      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="newbook_title">
    <p>Tilte</p>
  </div>
  <div class="newbook_field">
    <%= f.text_field :title %>
  </div>
  <div class="newbook_opinion">
    <p>Opinion</p>
  </div>
  <div class="newbook_area">
    <%= f.text_area :body %>
  </div>
  <div class="newbook_create">
    <%= f.submit "Create Book" %>
  </div>
<% end %>
</div>
</div>
